@import "src/assets/styles/variables";

.camp-card{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid $baseLightColor;
  width: 250px;
  padding: 20px;
  border-radius: 6px;
  margin: 0 auto 20px auto;
  &__badges{
    margin-top: 20px;
    img{
      margin: 0 3px;
    }
  }
}
.check{
  position: absolute;
  top: 0;
  right: 0;
}