@import "src/assets/styles/variables";

.input-container{
  display: flex;
  margin-top: 100px;
  background: $surfaceColor;
  border-radius: 6px;
  outline: solid $accentColor 2px;
  input{
    display: flex;
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
    height: 64px;
    margin: 5px 0;
  }
}